<!DOCTYPE html>
<html>
  <head>
    <title>LinkSnipr</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "customs", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <%= render 'shared/google_tag' %>
  <body class="b-g-main d-flex flex-column min-vh-100">
    <%= render "shared/nav" %>
    <main >
      <%= yield %>
    </main>
    <%= render "shared/footer" %>
  </body>
</html>
